*__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*samples
*/samples
*/*/samples
*/*/*/samples
*logs
*/logs
*/*/logs
*/*/*/logs
*.ipynb_checkpoints
*/.ipynb_checkpoints
*/*/.ipynb_checkpoints
*/*/*/.ipynb_checkpoints
*trained_models
*/trained_models
*/*/trained_models
*/*/*/trained_models
*data
*/data
*/*/data
*/*/*/data
*/*/*/*/data
*test
*/test
*/*/test
*/*/*/test
*.zip
*.npz
*.npy
*.h5
legacy_code
*/*/*/oracle_training.py
*/*/oracle_training.py
*demos
*/*demos
*/*/*demos
*/*/*/*demos
*/exp_notes.txt
