# -*- coding: utf-8 -*-
pybullet @ git+https://github.com/Zackory/bullet3.git
-e ./assistive-gym
-e ./rlkit
-e ./image
# -e ./multiworld
# ray[tune]
# torch==1.6.0 -f https://download.pytorch.org/whl/torch_stable.html
# torchvision==0.7.0 -f https://download.pytorch.org/whl/torch_stable.html
# pygame
# sk-video
matplotlib
ipython
screeninfo
tqdm
tensorboard_logger