<?xml version="1.0" ?>
<robot name="shelf.urdf">
  <material name="Caramel">
    <color rgba=".95 1 .95 1"/>
  </material>
  <link name="baseLink">
    <contact>
      <lateral_friction value="1.0"/>
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value=".0"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>

    <!-- vertical slabs -->
    <visual>
      <origin rpy="0 0 0" xyz=".3 0 0"/>
      <geometry>
				<box size=".02 .25 .24"/>
      </geometry>
      <material name="Caramel"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz=".3 0 0"/>
      <geometry>
				<box size=".02 .25 .24"/>
      </geometry>
    </collision>

    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
				<box size=".02 .25 .24"/>
      </geometry>
      <material name="Caramel"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
				<box size=".02 .25 .24"/>
      </geometry>
    </collision>

    <visual>
      <origin rpy="0 0 0" xyz="-.3 0 0"/>
      <geometry>
				<box size=".02 .25 .24"/>
      </geometry>
      <material name="Caramel"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="-.3 0 0"/>
      <geometry>
				<box size=".02 .25 .24"/>
      </geometry>
    </collision>

    <!-- horizontal slabs -->
    <visual>
      <origin rpy="0 0 0" xyz="0 0 .12"/>
      <geometry>
				<box size=".6 .25 .02"/>
      </geometry>
      <material name="Caramel"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 .12"/>
      <geometry>
				<box size=".6 .25 .02"/>
      </geometry>
    </collision>

    <visual>
      <origin rpy="0 0 0" xyz="0 0 -.12"/>
      <geometry>
				<box size=".6 .25 .02"/>
      </geometry>
      <material name="Caramel"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 -.12"/>
      <geometry>
				<box size=".6 .25 .02"/>
      </geometry>
    </collision>
  </link>
</robot>

